<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ft -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ft.presentation.FtModelWizardID"
            name="%_UI_FtModelWizard_label"
            class="ft.presentation.FtModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FtModelFile.gif">
         <description>%_UI_FtModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ft -->
      <editor
            id="ft.presentation.FtEditorID"
            name="%_UI_FtEditor_label"
            icon="icons/full/obj16/FtModelFile.gif"
            extensions="ft"
            class="ft.presentation.FtEditor"
            contributorClass="ft.presentation.FtActionBarContributor">
      </editor>
   </extension>

</plugin>
